@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css');


/* html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
} */

.progress-label{
  color: black;
}

.lesson-title{
  padding-left: 10px;
}

.lesson-pane{
  padding-left:240px !important;
}

.userProfile{
  padding-left: 250px !important;
}


@media (min-width: 1200px) {
  body .col-xl-4-adj {
    margin-right: 9rem !important;
    position: absolute;
    top: 4%;
    right: -9%;
    max-width: 280px !important;
  }
}

@media (min-width: 1920px) {
  body .col-xl-4-adj {
    margin-right: 0 !important;
    max-width: 300px !important;
    top: 10%;
    right: 1%;
  }
}